			#accessories{
				width: 1226px;
				height: 680px;
				margin: 0 auto;
				/*background-color: red;*/
				position: relative;
			}
			
			#accessories section{
				display: none;
				margin-top: 20px;
			}
			#accessories div a{
				/*background-color: blue;*/
				text-align: center;
			}
			
			#accessories span a{
				display: inline-block;
				width: 220px;
				height: 300px;
				margin-left: 26px;
				background-color: white;
			}
			#accessories span a p{
				margin: 0;
			}
			#accessories span a p:nth-of-type(1){
				font-size: 13px;
				color: black;
			}
			#accessories span a p:nth-of-type(2){
				font-size: 14px;
				color: orangered;
			}
			#accessories span a p:nth-of-type(3){
				font-size: 12px;
				color: darkgray;
			}
			.more{
				margin-left: 3px;
			}
			.more a{
				display: inline-block;
				width: 220px;
				height: 140px !important;
			}
			.more a img{
				position: relative;
				top: 40px;
				left: 40px;
			}
			.more a p{
				margin: 0;
				position: relative;
				top: -30px;
				left: 10px;
				text-align: left;
			}
			.accessoriesNav{
			display: inline-block;
			width: 340px;
			height: 40px;
			/*background-color: green;*/
			z-index: 10000;
			position: absolute;
			top: -5px;
			right: 0px;
			}
			.accessoriesNav a{
				display: inline-block;
				width: 80px !important;
				height: 40px !important;
				text-align: center;
				font-size: 20px;
				color: black;
				font-size: 16px;
				margin-left: 0px !important;
				background-color: gainsboro !important;
			}	
			.accessoriesNav a:hover{
				color: orangered;
				border-bottom: 3px solid orangered;
			}
			
			